{% if posts %}
    {% for post in posts %}
        {% if post.image %}
            <img src="{{ post.image.url }}" alt="">
        {% endif %}
        <p>{{ post.title }}</p>
        <span>{{ post.author }}</span>
        <p>{{ post.created_at|date:"d M Y" }}</p>
        <p>{{ post.views }}</p>

        <p>Ozet - {{ post.excerpt|truncatewords:20 }}</p>
        <button><a href="{% url 'post' post.slug %}">Devamini OKU ...</a></button>
    {% endfor %}
{% else %}
    {#Yazı yoksa: "Bu kategoride henüz yazı yok" mesajı#}
    <p>Burada Yazi yok</p>
{% endif %}
